<%= form_with model: @tenant, url: new_tenant_session_path, class: 'session-main', local: true do |f| %>

  <div class="form-group">
    <div class='form-tenantID'>
      <label class="form-tenantID-text">店舗ID</label>
    </div>
    <%= f.text_field :tenant_ID, class:"user-input-default", id:"tenant-ID", placeholder:"例）abc12345"%>
  </div>
      
  <div class="field-email_pass">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>

<% end %>


